html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #F2ED6F;
    margin: 0;
}

.footer {
    color: #d4d3d3;
    background: #686868;
    margin: 12px 0 0 0;
    height: 100px;
}

.things {
    padding: 0 16px;
}

.things__paragraph {
    line-height: 24px;
}

.things__item {
    border-left: 3px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    padding-left: 16px;
}

.things__item:hover {
    border-left: 3px solid #E3170A;
    border-radius: 2px;
}

.main {
    width: 100%;
    max-width: 700px;
    min-width: 300px;
    margin: 0 auto;
    padding-top: 51px;
    min-height: 100vh;
}

.main--gallery {
    max-width: 900px;
    min-width: 500px;
}

.footer__go-top {
    position: fixed;
    bottom: 0;
    right: 10px;
    color: #586F7C;
    text-decoration: none;
}

.site-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 4px 4px 2px 4px;
    background: white;
}

.navigation__link {
    font-size: 16px;
    letter-spacing: -1px;
    color: #e05e12;
    font-weight: bolder;
    text-decoration: none;
}

.navigation__link--homepage {
    color: darkred;
}

.my-hobbies__header {
    color: #E3170A;
    font-size: 32px;
}

.my-hobbies__list {
    color: #2F4550;
    font-size: 16px;
    list-style: none;
}

.navigation__list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 8px;
}

.navigation__item {
    display: inline;
    margin: 0 8px;
}

.my-hobbies__item {}

.about {}

.about__header {
    color: #E3170A;
    font-size: 32px;
}

.about__picture {
    width: 100%;
    max-width: 100px;
    float: left;
    margin: 0 16px 16px 0;
}

.about__paragraph {
    padding: 0 0 0 16px;
}

.about__paragraph--color {
    color: #E3170A;
}

.header {}

.header__title {
    color: #1C1C1C;
    margin: 20px 0 60px 16px;
}

.table {
    width: 100%;
    border: 2px solid black;
    border-spacing: 0;
}

.table__header-row {
    border-bottom: 2px solid black;
}

.table__body-row {
    border: 1px solid black;
}

.things__header {
    color: #2F4550;
    font-size: 32px;
}

.things__item-header {
    color: #586F7C;
    font-size: 24px;
}

.article {}

.article__header {
    color: #1C1C1C;
}

.article__paragraph {
    padding: 0 0 0 16px;
}

.article__picture {
    width: 30%;
}

.gallery {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.gallery--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.gallery--grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

@media (max-width: 1000px) and (min-width: 640px) {
    .gallery--grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 640px) {
    .gallery--grid {
        grid-template-columns: 1fr;
    }
}

.gallery__thumbnail {
    padding: 4px;
    background: rgba(255, 255, 255, 0.425);
    border: 1px solid rgba(0, 0, 0, 0.158);
    border-radius: 8px;
    flex-basis: 256px;
}

.gallery__thumbnail:hover {
    background: white;
}

.gallery__picture {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.gallery__picture-description {
    text-align: center;
}

.main--grid-page {
    display: grid;
    grid-template-areas: "header header header" "menu . content" "footer footer footer";
    grid-template-columns: 100px 16px 1fr;
}

.gheader {
    grid-area: header;
    text-align: center;
    background: #2F4550;
    color: whitesmoke;
}

.gnavigation {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.garticle {
    grid-area: content;
    border: 2px solid #2F4550;
    border-radius: 2px;
    padding: 8px;
    background: whitesmoke;
}

.gfooter {
    grid-area: footer;
    background: #2F4550;
    padding: 8px;
}

.gnavigation__link {
    text-decoration: none;
}

.gnavigation__item {
    list-style-type: none;
}

.gbutton {
    padding: 8px;
    width: 100%;
}

.things-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
}

@media (max-width: 560px) {
    .things-grid {
        grid-template-columns: 1fr;
    }
    .things__item:hover {
        border-left: none;
    }
}

@media (min-width: 1000px) {
    .main {
        max-width: 900px;
    }
}